body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  color: white;
}

.App {
  text-align: center;
  background-image: url('./images/stocks3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 102vh;
  margin: 0;
  padding: 0;
}

.navbar{
  display: flex;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.85);
  padding: 1%;
  font-size: 1.2em;
}

.navtext{
  font-weight: bold;
  color: white;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: rgba(0, 0, 0, 0.65);
}


