body {
  font-family: 'Open Sans', sans-serif;
  color: white
}

.App {
  text-align: center;
  background-image: url('./images/stocks3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.navbar{
  display: flex;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.85);
  padding: 1%;
  font-size: 1.2em;
}

.navtext{
  font-weight: bold;
  color: white;
}


